includes:
    - vendor/larastan/larastan/extension.neon
parameters:
    level: max
    paths:
        - src/
        - tests/
        - routes/
        - database/

#    ignoreErrors:
#        - '#Call to an undefined method object::up\(\)#'